@using Pesiko.WebUI.Models
@using Pesiko.WebUI.HtmlHelpers
@model PesiksListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Pesiks)
{
    @Html.Partial("PesikSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>